# ASSIGNMENT - 2

<b>Question 1:</b> Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
<br>
<br>
<b>i)</b> WAP to add 200 and 300 to L.

In [23]:
L=[10,20,30,40,50,60,70,80]
L.append(200)
L.append(300)
print(L)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]

<b>ii)</b> WAP to remove 10 and 30 from L.

In [12]:
L.remove(10)
L.remove(30)
print(L)

[20, 40, 50, 60, 70, 80, 200, 300]

<b> iii)</b> WAP to sort L in ascending order.

In [15]:
L.sort()
print(L)

[20, 40, 50, 60, 70, 80, 200, 300]

<b> iv)</b> WAP to sort L in descending order.

In [18]:
L.sort(reverse=True)
print(L)

[300, 200, 80, 70, 60, 50, 40, 20]

<b>Question 2:</b> Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and perform the following operations using tuple functions:
<br>
<br>
<b>i)</b> Identify the highest score and its index in the tuple.

In [33]:
T=(45,89.5,76,45.4,89,92,58,45)
x=max(T)
print("The highest score is:",x)
ind = T.index(x)
print("The index number of highest score is:",ind)

The highest score is: 92
The index number of highest score is: 5

<b>ii)</b> Find the lowest score and count how many times it appears.

In [40]:
y=min(T)
print("The lowest score is:",y)
x =T.count(y)
print("No. of times it occured is:",x)

The lowest score is: 45
No. of times it occured is: 2

<b> iii)</b> Reverse the tuple and return it as a list.

In [49]:
nT=T[::-1]
list(nT)

[45, 58, 92, 89, 45.4, 76, 89.5, 45]

<b>iv)</b> Check if a specific score ‘76’ (input by the user) is present in the tuple and print its first occurrence index, or a message saying it’s not present.

In [54]:
if 76 in T:
   x = (T.index(76))
   print("The index at which 76 is present is:",x) 
else:
    print("It’s not present")

The index at which 76 is present is: 2

<b>Question 3:</b> WAP to create a list of 100 random numbers between 100 and 900. Count and print 
the:
<br>
<br>
<b>i)</b> All odd numbers.
<br>
<b>ii)</b> All even numbers.
<br>
<b>iii)</b> All prime numbers

In [64]:
import random as r
import sympy as s
L=r.sample(range(100,900),100)
print(L)
l1=[x for x in L if not x%2==0]
l2=[x for x in L if x%2==0]
l3=[x for x in L if s.isprime(x)]
print("\n")
print("All odd numbers are:",l1)
print("\n")
print("All even numbers:",l2)
print("\n")
print("All prime numbers are:",l3)

[111, 338, 367, 720, 147, 446, 596, 599, 324, 414, 708, 701, 702, 872, 577, 402, 501, 207, 674, 880, 761, 602, 513, 586, 268, 156, 142, 230, 764, 840, 308, 593, 270, 372, 566, 672, 881, 531, 694, 365, 129, 222, 141, 112, 204, 463, 487, 272, 233, 137, 461, 664, 401, 214, 329, 496, 179, 667, 533, 583, 407, 741, 825, 157, 859, 554, 443, 149, 162, 661, 184, 624, 724, 299, 576, 297, 686, 267, 498, 337, 810, 546, 608, 680, 742, 131, 172, 399, 675, 464, 861, 341, 293, 224, 397, 231, 896, 766, 651, 473]


All odd numbers are: [111, 367, 147, 599, 701, 577, 501, 207, 761, 513, 593, 881, 531, 365, 129, 141, 463, 487, 233, 137, 461, 401, 329, 179, 667, 533, 583, 407, 741, 825, 157, 859, 443, 149, 661, 299, 297, 267, 337, 131, 399, 675, 861, 341, 293, 397, 231, 651, 473]


All even numbers: [338, 720, 446, 596, 324, 414, 708, 702, 872, 402, 674, 880, 602, 586, 268, 156, 142, 230, 764, 840, 308, 270, 372, 566, 672, 694, 222, 112, 204, 272, 664, 214, 496, 554, 162, 184, 624, 724, 576, 686, 498, 810, 546, 608, 680, 742, 172, 464, 224, 896, 766]


All prime numbers are: [367, 599, 701, 577, 761, 593, 881, 463, 487, 233, 137, 461, 401, 179, 157, 859, 443, 149, 661, 337, 131, 293, 397]

<b>Question 4:</b>
Consider the following two sets, A and B, representing scores of two teams in multiple matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23} WAP to perform the following operations using set functions:

<b>i)</b> Find the unique scores achieved by both teams (union of sets).

<b>ii)</b> Identify the scores that are common to both teams (intersection of sets).

<b>iii)</b> Find the scores that are exclusive to each team (symmetric difference).

<b>iv)</b> Check if the scores of team A are a subset of team B, and if team B's scores are a superset of team A.

<b>v)</b> Remove a specific score X (input by the user) from set A if it exists. If not, print a message saying it is not present.

In [75]:
A = {34, 56, 78, 90} 
B = {78, 45, 90, 23}
print("i)",A.union(B))
print("\n")
print("ii)",A.intersection(B))
print("\n")
print("iii)",A.symmetric_difference(B))
print("\n")
if A.issubset(B):
    print("iv) A is subset of B")
if B.issuperset(A):
    print("iv) B is superset of A")
n=float(input('Enter score to check'))
if n in A:
    A.remove(n)
    print(A)
else:
    print("v)",n,' is not present in A')

i) {34, 45, 78, 23, 56, 90}


ii) {90, 78}


iii) {34, 45, 23, 56}

Enter score to check 67

v) 67.0  is not present in A

<b>Question 5:</b> Write a program to rename a key city to a location in the following dictionary.

In [80]:
D={
    "name": "OsamaBeenLaggin",
    "age":54,
    "salary": 10000,
    "city": "New york"
}
D['location']=D['city']
del D['city']
print(D)

{'name': 'OsamaBeenLaggin', 'age': 54, 'salary': 10000, 'location': 'New york'}